<!-- Conversations -->
<div class="conversations col-md-3">
  <div class="conversations-title">
    <h3 class="text-center">Conversations</h4>
  </div>
  <%# matches.each do |m| %>
    <%# m. %>
  <div class="convers">
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
    <div class="row">
      <%= image_tag "truth", class: 'pull-left img-rounded' %>
      <div class="row-details pull-left">
        <h4>Dakota</h4>
        <p>Hey! Let's chat about our dogs.</p>
      </div>
    </div>
  </div>
</div>