<!-- Sign up -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Sign up</h4>
      </div>
      <div class="modal-body">
        <button class="btn btn-facebook">
          <%= image_tag "facebook.svg", id: "facebook-img" %>
        </button>
        <div class="divider text-center">
          <span>or</span>
          <hr>
        </div>
        <button class="btn btn-email">
          <%= image_tag "email.svg", id: "email-img" %>
        </button>
        <br />
        <br />
        <hr>
        <!-- Toggle other modal -->
        <p class="modal-toggle">
          Already a member? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#loginModal">Log in</a>
        </p>
        <!-- if user selects email -->
        <%= form_for @user, html: {class: "email-hidden"} do |f| %>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
              <%= f.text_field :fname, placeholder: "What's your first name?", :class => "form-control" %>
              <%= f.text_field :lname, placeholder: "Last name?", :class => "form-control" %>
              <%= f.text_field :dog_name, placeholder: "What is your dogs name?", :class => "form-control" %>
              <%= f.text_area :bio, placeholder: 'Say something about yourself', class: 'form-control' %><br />
            </div>
            <div class="input-group">
              <div class="input-group-addon" id="at-symbol-glyph">@</div>
              <%= f.email_field :email, placeholder: "Enter email", class: "form-control" %><br />
            </div>
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
              <%= f.password_field :password, placeholder: "Password", :class => "form-control" %><br />
            </div>
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
              <%= f.password_field :password_confirmation, placeholder: "Confirm password", :class => "form-control" %><br />
            </div>
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
              <%= f.file_field :profile_pic %><br />
            </div>
          </div>
        <div class="modal-footer">
            <%= f.submit "Sign up", class: 'btn btn-primary btn-fetch-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Log in -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Log in</h4>
      </div>
      <div class="modal-body">
        <button class="btn btn-facebook">
          <%= image_tag "facebook.svg", id: "facebook-img" %>
        </button>
        <div class="divider text-center">
          <span>or</span>
          <hr>
        </div>
        <button class="btn btn-email">
          <%= image_tag "email.svg", id: "email-img" %>
        </button>
        <br />
        <br />
        <hr>
        <!-- Toggle other modal -->
        <p class="modal-toggle">
          Not a member yet? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#signupModal">Sign up</a>
        </p>
        <!-- if user selects email -->
        <%= form_for @user, url: session_path, html: {class: "email-hidden"} do |f| %>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">@</div>
              <%= f.text_field :email, placeholder: "Enter email", :class => "form-control" %><br />
            </div>
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
              <%= f.password_field :password, placeholder: "Password", :class => "form-control" %><br />
            </div>
          </div>
        <div class="modal-footer">
            <%= f.submit "Login", {:class => 'btn btn-primary btn-fetch-primary'} %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>