<%= render 'partials/nav' %>

<!-- <div class="bio col-sm-4">
    <%= image_tag "#{current_user.profile_pic}" %>
    <h3 class="bio-name"><%= current_user.dog_name %> &amp; <%= current_user.fname %></h3>
    <p class="bio-description"><%= current_user.bio %></p>
</div> -->

<!-- Edit Page -->
<div class="edit col-sm-4 center-block">

  <h1>Edit your profile</h1>

  <%= form_for @user do |f| %>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
      <%= f.text_field :fname, placeholder: "What's your first name?", :class => "form-control" %>
      <%= f.text_field :lname, placeholder: "Last name?", :class => "form-control" %>
      <%= f.text_field :dog_name, placeholder: "What is your dogs name?", :class => "form-control" %>
      <%= f.text_area :bio, placeholder: 'Say something about yourself', class: 'form-control' %><br />
    </div>
    <div class="input-group">
      <div class="input-group-addon" id="at-symbol-glyph">@</div>
      <%= f.email_field :email, placeholder: "Enter email", class: "form-control" %><br />
    </div>
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
      <%= f.password_field :password, placeholder: "Password", :class => "form-control" %>
    </div>
    <div class="input-group">
      <br />
      <%= f.file_field :profile_pic %>
      <br />
    </div>
  </div>
  <%= f.submit "Update", class: 'btn btn-primary btn-fetch-primary' %>
  <% end %>
</div>