<!-- Dash Page -->

<% @users.each do |user| %>
	<% render partial: 'partials/profileModal', locals: { user: user } %>
<% end %>

<div class="dash">
	
  <%# render 'partials/conversations' %>
	<h5>Who am I? (For testing purposes): <%= current_user.fname %></h5>
	
	<%# renders the partial passing in the user object %>
	<% @users.each do |user| %>
  	<%= render partial: 'partials/cards', locals: { user: user } %>
	<% end %>

</div>

<!-- placeholder to test like function -->
<div>  
  <% @users.each do |user| %>
    <%= user.fname %> <%= user.lname %>
    
    <!-- creates the "like" button -->
    <%= form_for [user, @like], url: likes_path do |f| %>
      <%= user.id %>
      <%= f.hidden_field(:likee_id, value: user.id) %>
      <%= f.submit "Like!", class: "btn btn-primary btn-xs" %>
      <br>
    <% end %>

    <!-- creates the "reject" button -->
    <%= form_for [user, @rejection], url: rejections_path do |f| %>
      <%= user.id %>
      <%= f.hidden_field(:rejectee_id, value: user.id) %>
      <%= f.submit "Reject!", class: "btn btn-primary btn-xs" %>
      <br>
    <% end %>
  <% end %>
</div>


