<!-- Dash Page -->
<%= render 'partials/profileModal' %>
<div class="dash">
  <%= render 'partials/conversations' %>
  <%= render 'partials/cards' %>
</div>

<div>
  <% @users.each do |user| %>
    <%= user.fname %> <%= user.lname %>
    <%= link_to "Like!", likes_path, method: :post %>
    <br>
  <% end %>
</div>

