<!-- Dash Page -->
<div class="dash">
  <%= render 'partials/conversations' %>
  <%= render 'partials/cards' %>
</div>

<!-- placeholder to test like function -->
<div>  
  <% @users.each do |user| %>
    <%= user.fname %> <%= user.lname %>
    <%= form_for [user, @like], url: likes_path do |f| %>
      <%= user.id %>
      <%= f.hidden_field(:likee_id, value: user.id) %>
      <%= f.submit "Like!", class: "btn btn-primary btn-xs" %>
      <br>
    <% end %>
  <% end %>
</div>


