<!-- Dash Page -->

<% @users.each do |user| %>
	<%= render partial: 'partials/profileModal', locals: { user: user } %>
<% end %>

<div class="dash">
	
  <%= render 'partials/conversations' %>
	<h5>Who am I? (For testing purposes): <%= current_user.fname %></h5>
	
	<%# renders the partial passing in the user object %>
	<% @users.each do |user| %>
  	<%= render partial: 'partials/cards', locals: { user: user } %>
	<% end %>

</div>

<div>
  <% @users.each do |user| %>
    <%= user.fname %> <%= user.lname %>
    <%= link_to "Like!", likes_path, method: :post %>
    <br>
  <% end %>
</div>

