<!-- Dash Page -->

<% @users.each do |user| %>
    <!-- Must be refactored, probably cannot have (up to) 20 modals on one page -->
    <%= render partial: 'partials/profileModal', locals: { user: user } %>
<% end %>

<div class="dash">
	
  <%# render 'partials/conversations' %>
	<h5>Who am I? (For testing purposes): <%= current_user.fname %></h5>
	
  <!-- Cards -->
  <div class="cards col-sm-6 col-sm-offset-5">
    <div id="people">
      <% @users.each do |user| %>
        <%# image_tag "userpicture", class: "picture-img" %>
        <div class="person">
          <div class="card" data-toggle="modal" data-target="#<%= user.id %>">
            <%= user.fname %> <%= user.lname %>
          </div>
          <div class="controls">
            <div class="button no">
              <%= form_for [user, @like], remote: true, url: likes_path do |f| %>
                <%= f.hidden_field(:likee_id, value: user.id) %>
                <%= f.submit "", class: 'trigger no' %>
              <% end %>
            </div>
            <div class="button yes">
              <%= form_for [user, @like], remote: true, url: likes_path do |f| %>
                <%= f.hidden_field(:likee_id, value: user.id) %>
                <%= f.submit "", class: 'trigger yes' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

</div> <!-- end of .dash -->


<!-- placeholder to test like function -->
<div>  
  <% @users.each do |user| %>
    <%= user.fname %> <%= user.lname %>
    
    <!-- creates the "like" button -->
    <%= form_for [user, @like], remote: true, url: likes_path do |f| %>
      <%= user.id %>
      <%= f.hidden_field(:likee_id, value: user.id) %>
      <%= f.submit "Like!", class: "btn btn-primary btn-xs" %>
      <br>
    <% end %>

    <!-- creates the "reject" button -->
    <%= form_for [user, @rejection], url: rejections_path do |f| %>
      <%= user.id %>
      <%= f.hidden_field(:rejectee_id, value: user.id) %>
      <%= f.submit "Reject!", class: "btn btn-primary btn-xs" %>
      <br>
    <% end %>
  <% end %>
</div>


