<div class="row">
  <div class="col-sm-4 col-sm-offset-4 form_styles">

    <h1 class="text-center">Sign up for free to start fetching now.</h1>

    <p>
      Already a member? <%= link_to "Sign in", new_session_path %>
    </p>

    <%= form_for @user, {url: users_path} do |f| %>

      <% if @user.errors.any? %>
        <div id="error_explanation">
          <ul class="list-group">
            <% @user.errors.full_messages.each do |msg| %>
              <li class="list-group-item list-group-item-danger"><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
          <%= f.text_field :fname, placeholder: "What's your first name?", :class => "form-control" %>
          <%= f.text_field :lname, placeholder: "What's your last name?", :class => "form-control" %>
          <%= f.text_field :dog_name, placeholder: "What is your dog's name?", :class => "form-control" %>
          <%= f.text_area :bio, placeholder: 'Tell us something about yourself.', class: 'form-control' %><br />
        </div>
        <div class="input-group">
          <div class="input-group-addon" id="at-symbol-glyph">@</div>
          <%= f.email_field :email, placeholder: "Email address", class: "form-control" %><br />
        </div>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
          <%= f.password_field :password, placeholder: "Password", :class => "form-control" %>
          <%= f.password_field :password_confirmation, placeholder: "Confirm password", :class => "form-control" %><br />
          <br />
        </div>
        <div class="input-group">
          <br />
          <%= label_tag "Upload a picture of you and your pup." %>
          <%= f.file_field :profile_pic %><br />
        </div>
      </div>
    <div>
      <%= f.submit "Sign up", class: 'btn btn-primary btn-fetch-primary' %>
      <% end %>
    </div>
  </div>
</div>
