<!-- Profile Page -->
<div class="profile">
	<%= render 'partials/conversations' %>
	
	<div class="">
		<div class="bio col-sm-4">
			<%= image_tag @user.profile_pic(:large) %>
			<h3 class="bio-name"><%= @user.fname %> <%= @user.lname %></h3>
			<p class="bio-description"><%= @user.bio %></p>
		</div>
		
		<%= render 'partials/messenger' %>
	</div>
</div>