<!-- Matches -->
<div class="matches" ng-controller="MatchCtrl">
	<div class="profile">
		<%= render 'partials/conversations' %>
		<%= link_to "Back to Fetching!", users_path, class: 'back-btn' %>
		
		<div class="">
			<div class="bio col-sm-4">
				<% if @friends.length >= 1 %>
					<%= image_tag @friends.last.profile_pic.url(:large) %>
					<h3 class="bio-name"><%= @friends.last.dog_name %> &amp <%= @friends.last.fname %></h3>
					<p class="bio-description"><%= @friends.last.bio %></p>
				<% else %>
					<h3 class="bio-name">You don't have any matches yet!</h3>
				<% end %>
			</div>
			
			<%= render 'partials/messenger' %>
		</div>
	</div>
</div>