<%= form_for inquiry do |f| %>
	<% if inquiry.errors.any? %>
    <ul>
      <% inquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

  <!-- We'll use a standard "nickname" field so the spam bots don't get suspicious -->
  <div style="display: none;">
    <%= f.label :nickname %><br/>
    <%= f.text_field :nickname %>
  </div>

  <div>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>
  
  <div>
    <%= f.label :message %><br/>
    <%= f.text_area :message %>
  </div>
  
  <div>
    <%= f.submit "Send" %>
  </div>
<% end %>